{% extends "skeleton.html" %} {% block content %}
    <div id="indexHero">.
       <div id="heroContent">
           <span class="heart_large"></span>&nbsp;<h1><span id="red">Connect and find support.</span></h1>
           <h2>CCN Connect is a social network by the Childhood Cancer Network</h2>
           <h2>for cancer patients, survivors, and their families.</h2>
       </div>
       {% if not session.logged_in %}
        <a class="actionButton" href="{{ url_for('login') }}">Login</a>
        <a class="actionButton" id="signUp" href="#">Sign Up</a>
        {% endif %}
    </div>
    <div id="indexContain">

    </div>
    {% endblock %}