
#header h1 {
    font-weight: 500;
    font-family: 'aleolightitalic';
    display: inline-block;
    color: white;
    margin-bottom: 5px;
}

#header {
    max-width: 900px;
    margin: auto;
    
}

nav {
    display: inline;
    float: right;
    font-size: 1.2em;
    font-family: aleolight;
    margin-top: 1.6em;

}

nav ul {
    display: inline;
}

.navItem {
    list-style: none;
    display: inline-block;
    margin: 0px;
    float: left;
}
.navItem a:hover{
    background: #dddddd;
    color: #444444;
}
.navItem a{
    padding: .5em;
    color: white;
    text-decoration: none;

}

.stickytop {
    width: 100%;
    z-index: 10;
    position: fixed; 
}

body {
    margin: 0px;
    padding: 0px;
    background: #eeeeee;
    font-family: aleo;
}

nav img {
    margin: 0px;
    margin-top: -20px;
    display: inline;
    position: relative;
    top: 8px;
    left: -5px;
    width: 30px;
}

.profItem {
    text-decoration: none;
    list-style: none;
    margin: 0px;

    display: none;
}
nav li:hover .profItem{
    display: block;
}
.profItem a{
/*    padding: 0px;*/
    margin: 0px;
    display: block;
}
.navItem ul{
    display: block;
    background: rgb(23, 119, 190);;
    padding: 0px;
    margin-top: .55em;

}

#headcontainer {
    background: rgb(23, 119, 190);
}

.contentSection {
    padding: 0em;
    padding-left: 0px;
    padding-right: 0px;
    background: #f4f7f8;
    color: #444;
    margin: 1em;
    border: 1px solid #dedede;
    border-radius: 3px;
    overflow: hidden;
}

.contentInnerWhite {
    width: 100%;
    background: #ffffff;
    min-height: 100px;
    padding-bottom: .5em;
    border-top: 1px solid #dedede;
}


.contentSection h2 {
    display: inline-block;
    margin:.5em;
}

.contentCard {
    margin-left: 7px;
    margin-top: .5em;
    border: 1px solid #dedede;
    border-radius: 3px;
    width: 278px;
    text-align: center;
    float: left;
    background: #f4f7f8;
}

.contentCardInner {
    overflow: hidden;
}

.clearFix {
    clear: both;
}

.contentCardImage {
    width: 100%;
    height: 6em;
    
    /*For testing only*/
    background: url('images/coverpic.jpg');
    background-size: cover;
    background-position: center top;
    
}

.contentCard h3 {
    margin: .4em;
}

.sectionExpand {
    float: right;
    margin: 1em;
}
a{
    color: rgb(23, 119, 190);
    text-decoration: none;
}
a:hover{
    
    text-decoration: underline;
}

.family h3 {
    display: inline-block;
    margin-right: 0px;
}

.family p {
    display: inline-block
}
