
#header h1 {
    font-weight: 500;
    font-family: 'aleolightitalic';
    display: inline-block;
    color: white;
    margin-bottom: 5px;
}

#header {
    max-width: 900px;
    margin: auto;
    
}

nav {
    display: inline;
    float: right;
    font-size: 1.2em;
    font-family: aleolight;
    margin-top: 1.6em;

}

nav ul {
    display: inline;
}

.navItem {
    list-style: none;
    display: inline-block;
    margin: 0px;
    float: left;
}
.navItem a:hover{
    background: #dddddd;
    color: #444444;
}
.navItem a{
    padding: .5em;
    color: white;
    text-decoration: none;

}

.stickytop {
    width: 100%;
    z-index: 10;
    position: fixed; 
}

body {
    margin: 0px;
    padding: 0px;
    
    font-family: aleo;
}

nav img {
    margin: 0px;
    margin-top: -20px;
    display: inline;
    position: relative;
    top: 8px;
    left: -5px;
    width: 30px;
}

.profItem {
    text-decoration: none;
    list-style: none;
    margin: 0px;

    display: none;
}
nav li:hover .profItem{
    display: block;
}
.profItem a{
/*    padding: 0px;*/
    margin: 0px;
    display: block;
}
.navItem ul{
    display: block;
    background: rgb(23, 119, 190);;
    padding: 0px;
    margin-top: .55em;

}

#headcontainer {
    background: rgb(23, 119, 190);
}

.contentSection {
    padding: .5em;
    padding-left: 0px;
    padding-right: 0px;
    background: #eeeeee;
    color: #444;
    margin: .5em;
    border: 1px solid #dedede;
    border-radius: 3px;
}

.contentInnerWhite {
    width: 100%;
    background: #fafafa;
    min-height: 100px;
    padding-bottom: .5em;
}

.contentSection h2 {
    margin-left: 2em;
}

.friendCard {
    margin-left: .5em;
    margin-top: .5em;
    border: 1px solid #dedede;
    border-radius: 3px;
    max-width: 200px;
    text-align: center;
    float: left;
    background: #eeeeee;
}

.friendCardInner {
    padding: 1em;

}

.clearFix {
    clear: both;
}
