
#profileCover {
    height: 75vh;
    background: url(images/coverpic2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    z-index: 0;
}

#profileName {
    font-size: 5em;
    margin-top: -1.3em;
    color: white;
    position: absolute;
    margin-left: 250px;
    font-family: aleolightitalic;
    font-weight: normal;

}

.profileContain {
    max-width: 901px;
    margin: auto;
    z-index: 2;
}

#profilePic {
    width: 300px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: -5.3em;
    border-radius: 50%;
}

#location {
    font-weight: normal;

}

.profileNameBack {
    padding: .1em;
    background: rgba(67, 67, 67, 0.75);
}

.nine {
    height: 1900px;
}

#profileBio {

}

.profileTextCard {
    margin-left: 330px;
}

#profileInfoCard {
    margin-top: 0px;
    margin: .5em;
    background: #ffffff;
    color: #444;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #dedede;
    min-height: 14em;
}
